*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}
html {
	/*This defines what 1 rem is */
	font-size: 62.5%;
	width: 100%;
	height: auto;
}
.navigation{
	height: 4rem;
	width: 100%;
	display: block;
	position: relative;
	background: linear-gradient(rgb(155, 113, 7), rgb(104, 76, 5));
	color: ghostwhite;
}
.navigation-update {
	font-size: 1.4rem;
	text-align: center;
	margin: auto;
	float: left;
	position: relative;
	padding: 10px;
}
.navigation-item{
	display: inline-block;
	position: relative;
	float: right;
	padding: 10px;
	margin-left: 5px;
	text-align: center;
	list-style: none;
	background: linear-gradient(rgb(155, 113, 7), rgb(104, 76, 5));
	font-size: 1.6rem;
	border-left: #703826 solid 1px;
	box-shadow: -6px 8px 8px rgba(0, 0, 0, 0.2);
}
.navigation-item a {
	color: ghostwhite;
	text-decoration: none;
}
.header {
	height: 75vh;
	background-image: url("https://www.healthline.com/hlcmsresource/images/topic_centers/Food-Nutrition/Coffee1-banner.jpg");
	background-size: cover;
	position: relative;
	background-position: top;
	margin-bottom: 5rem;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
}
h1 {
	color: ghostwhite;
}
.header-box {
	display: flex;
	justify-content: space-between;
	padding: 3rem;
	top: 50%;
	left: 50%;
}

.header-box h1 {
	text-align: center;
}
.header-text-primary {
	display: inline-block;
	font-size: 8rem;
	position: relative;

}
.header-text-secondary {
	font-size: 4.5rem;
	display: inline-block;
	position: relative;
}
.header-text-tertiary {
	font-size: 3.5rem;
	background: linear-gradient(to right, rgb(155, 113, 7), rgb(104, 76, 5));
	-webkit-background-clip: text;
	color: transparent;
}
.header-text-alternate {
	font-size: 3.5rem;
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(185, 185, 185));
	-webkit-background-clip: text;
	color: transparent;
	padding-bottom: .8rem;
}
@media screen and (max-width: 900px)  {
	.header-text-alternate {
		font-size: 2.6rem;
	}
	.elevator-pitch-version {
		font-size: .8rem;
	}
}

.container {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}
.learning-style {
	background-color: #f9f9f9;
	height: 65vh;
	margin-top: -25vh;
	padding: 3.5rem;
}
.learning-header {
	display: block;
	position: absolute;
	top: 50%;
	left: 5%;
}
.learning-chart {
	display: block;
	position: relative;
	margin-top: 4.5%;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
}
.features {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: linear-gradient(rgb(155, 113, 7), rgb(104, 76, 5));
	color: ghostwhite;
	padding: 4rem;
	width: 100%;
	height: 45vh;
	font-size: 1.5rem;
	line-height: 1.8rem;
	margin-top: -5rem;

	-webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
	clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);

}
.row {
	display: block;
	position: relative;
	max-width: 120rem;
	margin: 0 5%;

}
.col-1-of-2:not(:last-child) {
	float: left;
	padding: .4rem;
	width: calc((100% - 8rem) /2);
	margin: 0 10% 0 1.5%;

}
.features-element {
	margin-bottom: .8rem;
}
.golden-circle {
	margin: 10vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50vh;
}
.golden-circle-header {
	display: block;
	position: relative;
	left: 42%;
	margin-bottom: 1.5rem;
}
.golden-circle-list {
	list-style: none;
	position: relative;
	display: inline-block;
	width: 30%;
	left: 15%;
	margin-top: 1.5%;
	float: left;
	line-height: 3rem;
	font-size: 1.6rem;
}
.strong {
	font-size: 1.8rem;
	text-transform: uppercase;
}
.golden-circle-image {
	display: inline-block;
	position: relative;
	width: 220px;
	height: 220px;
	left: 32%;
}

.elevator-pitch {
	margin-top: -7vh;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: linear-gradient(rgb(155, 113, 7), rgb(104, 76, 5));
	text-align: center;
	width: 100%;
	padding: 5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%);

	-webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
	clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
}
.elevator-pitch-header {
	margin-top: 1.5%;
}
.elevator-pitch-version {
	padding: 1rem;
	margin: 1.6rem;
	height: 50%;
	width: 60%;
	display: block;
	position: relative;
	border: ghostwhite 1px solid;
	left: 17%;

}
.elevator-text {
	font-size: 1.8rem;
	color: ghostwhite;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	display: flex;
	justify-content: center;
	position: relative;
}
th, td {
	padding: 1em;
	margin: .5em;
}
.online-presence {
	background-image: url("/images/white-wood.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 75vh;
	position: relative;
}
.online-header {
	display: block;
	position: relative;
	left: 35%;
	padding: 2.5em
}
.online-table-head {
	color: ghostwhite;
	background: linear-gradient(rgb(155, 113, 7), rgb(104, 76, 5));
	height: 2.5em;
	width: 5em;
	text-align: center;
	font-weight: bold;
}
.online-table-data {
	color: #974e1e;
	background-color: #f9f9f9;
	border: sienna 1px solid;
	text-align: center;
	width: 18em;
	height: 3em;
}

body {
	box-sizing: border-box;
	padding: 3rem;
	font-size: 1.5rem;
}