/*****************************************
Global styling
**************************************** */
*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
}
html {
	/*This defines what 1 rem is */
	font-size: 62.5%;
	width: 100%;
	overflow: scroll;
}

body {
	font-size: 1.5rem;
	width: 100%;
}
/******************************************
Navigation
****************************************** */
.navigation{
	height: 4rem;
	width: 100%;
	display: block;
	position: relative;
	background: linear-gradient(rgb(155, 113, 7), rgb(104, 76, 5));
	color: ghostwhite;
}
.topnav {
	overflow: hidden;
}
.navigation-update {
	font-size: 1.4rem;
	text-align: center;
	margin: auto;
	float: left;
	position: relative;
	padding: 10px;
}
.navigation-item{
	display: inline-block;
	position: relative;
	float: right;
	padding: 10px;
	margin-left: 5px;
	text-align: center;
	list-style: none;
	background: linear-gradient(rgb(155, 113, 7), rgb(104, 76, 5));
	font-size: 1.6rem;
	border-left: #703826 solid 1px;
	box-shadow: -6px 8px 8px rgba(0, 0, 0, 0.2);
	color: ghostwhite;
	text-decoration: none;
}

.topnav .icon {
	display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
	.topnav a {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
		color: #f9f9f9;
		padding: 10px 5px 0 5px;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
	.topnav {position: relative;}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
		color: #f9f9f9;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		z-index: 10;
	}
}
/*************************************************
Header
*********************************************** */
.header {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 75vh;
	background-image: url("https://www.healthline.com/hlcmsresource/images/topic_centers/Food-Nutrition/Coffee1-banner.jpg");
	background-size: cover;
	position: relative;
	background-position: top;
	margin-bottom: 5rem;
	text-align: center;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
	-moz-clip-path: polygon(0 0, 100% 0 , 100% 65vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
}
h1 {
	color: ghostwhite;
}
.header-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 3rem;
	color: #f9f9f9;
}

.header-box h1 {
	text-align: center;
}
/****************************************
Styles for various headers
 ****************************************/
.header-text-primary {
	display: inline-block;
	font-size: 8rem;
	position: relative;

}
.header-text-secondary {
	font-size: 4.5rem;
}
.header-text-tertiary {
	font-size: 3.5rem;
	background: linear-gradient(to right, rgb(155, 113, 7), rgb(104, 76, 5));
	-webkit-background-clip: text;
	color: transparent;
}
.header-text-alternate {
	font-size: 3.5rem;
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(185, 185, 185));
	-webkit-background-clip: text;
	color: transparent;
	padding-bottom: .8rem;
}
.shadow {
	text-shadow: 10px 5px 10px rgba(0,0,0, 0.8);
}
/***************************************
Media queries
****************************************/

@media screen and (max-width: 900px)  {
	.navigation-item, .navigation-update{
		font-size: 1rem;
		padding-right: 5px;
		margin-left: 0;
	}
	.header-text-primary {
		font-size: 6rem;
	}
	.header-text-alternate, .header-text-tertiary {
		font-size: 2.6rem;
	}

	.golden-circle-image {
		width: 150px !important;
		height: 150px !important;
		left: 0 !important;
		padding-top: 50px;
	}
	.golden-circle-list {
		width: 50% !important;
		left: 0 !important;
		top: 0 !important;
		padding: 10px !important;
	}
	.elevator-text, .golden-circle-element, .features-element, .reflections, .visual-speaks-text {
		font-size: 1rem !important;
	}

	.learning-style {
		height: 65vh !important;
	}
	.learning-chart  {
		width: 300px !important;
		height: 150px !important;
		padding: 0 8% !important;
	}
	.online-table-data, .online-table-head {
		font-size: 1rem;
	}
	.reflections-content {
		padding-bottom: 5vh !important;
	}
	.reflections-week, .visual-content {
		width: 100% !important;
		margin: 0 !important;
	}
}
/**************************************
Container
************************************** */
.container {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}
/*****************************************
Learning Style Section
*************************************** */
.learning-style {
	background-color: #f9f9f9;
	height: 85vh;
	margin-top: -25vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.learning-header {
	position: relative;
	text-align: center;
	padding-top: 5vh;
}
.learning-chart {
	display: flex;
	position: relative;
	padding: 0 30%;
	width: 500px;
	height: 350px;
}
/********************************************
Features Section
***************************************** */
.features {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: url("https://www.office-coffee.co.uk/public/images/sections/coffee-cup-on-decking.jpg"), no-repeat;
	background-size: cover;
	color: ghostwhite;
	width: 100%;
	height: 60vh;
	font-size: 1.5rem;
	line-height: 1.8rem;
	margin-top: -5rem;

	-webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
	-moz-clip-path: polygon(0 0, 100% 0 , 100% 65vh, 0 100%);
	clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);

}
.row {
	display: block;
	position: relative;
	max-width: 120rem;
	margin: 0 5%;

}
.col-1-of-2:not(:last-child) {
	float: left;
	padding: .4rem;
	width: calc((100% - 8rem) /2);
	margin: 0 10% 0 1.5%;

}
.features-element {
	margin-bottom: .8rem;
}
/***************************************
Golden Circle Section
************************************* */
.golden-circle {
	margin: 10vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50vh;
}
.golden-circle-header {
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 1.5rem;
}
.golden-circle-list {
	list-style: none;
	position: relative;
	display: inline-block;
	width: 30%;
	left: 15%;
	margin-top: 1.5%;
	float: left;
	line-height: 3rem;
	font-size: 1.6rem;
	color: #974e1e;
}
.strong {
	font-size: 1.8rem;
	text-transform: uppercase;
}
.golden-circle-image {
	display: inline-block;
	position: relative;
	width: 220px;
	height: 220px;
	left: 32%;
}
/*******************************************
Elevator Pitch Section
**************************************** */
.elevator-pitch {
	margin-top: -7vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: url("http://www.sntraders.com/wp-content/uploads/2015/12/antique-heart-pine-floor-510x600.jpg"), no-repeat;
	background-size: cover;
	text-align: center;
	width: 100%;
	margin-bottom: 1rem;

	-webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
	-moz-clip-path: polygon(0 0, 100% 0 , 100% 65vh, 0 100%);
	clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
}
.elevator-pitch h4 {
	margin-top: 2%;
	padding-bottom: 1.5%;
}
.elevator-pitch-header {
	padding: 1.5% 0;
}
.elevator-pitch-version {
	padding: 1rem;
	margin: 1.6rem;
	height: 50%;
	width: 60%;
	display: block;
	position: relative;
	border: ghostwhite 1px solid;
	left: 17%;

}
.elevator-text {
	font-size: 1.5rem;
	color: white;
}
/**************************************
Online Presence Section
************************************** */
table {
	table-layout: fixed;
	border-collapse: collapse;
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 1%;
}
th, td {
	padding: 1em;
	margin: .5em;
}
.online-presence {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: -15vh;
	height: 80vh;
	margin-bottom: 5%;
	position: relative;
}
.online-header {
	display: block;
	position: relative;
	text-align: center;
	padding: 2.5em;
}
.online-table-head {
	color: ghostwhite;
	background: linear-gradient(rgb(155, 113, 7), rgb(104, 76, 5));
	height: 2.5em;
	width: 5em;
	text-align: center;
	font-weight: bold;
}
.online-table-data:nth-child(1) {
	font-weight: bold;
	font-size: 1.6rem;
}
.online-table-data {
	color: #974e1e;
	background-color: #f9f9f9;
	border: sienna 1px solid;
	text-align: center;
	width: 18em;
	height: 3em;
}
/***************************************
Visual Speaks Section
************************************** */
.visual-speaks {
	display: flex;
	position: relative;
	height: 100vh;
	margin-top: -13vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnoXvIqsDQc-rqgGysnYTcdH3DApPMWCLSZfZJbjssX-21b6az"), no-repeat;
	background-size: cover;
	color: #f9f9f9;

	-webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
	-moz-clip-path: polygon(0 0, 100% 0 , 100% 65vh, 0 100%);
	clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
}
.visual-header {
	text-align: center;
	margin-top: 5%;
}
.visual-image {
	width: 150px;
	height: 200px;
	padding: 2rem;
	float: left;
}
.visual-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin: 2% 20%;
}
.visual-content div {
	width: 50%;
}

.visual-content span {
	font-weight: bold;
}
.visual-speaks-text {
	padding: 2rem;
	font-size: 1.5rem;
}

.reflections {
	display: flex;
	justify-content: center;
	padding: 5rem 0;
	align-items: center;
	margin-top: -5vh;
	margin-bottom: 10%;
	height: 65vh;
	width: 100%;
}

.reflections-header {
	text-align: center;
	padding: 5rem;
}
.reflections-content {
	padding: 0 5rem;
}
.reflections-content h4 {
	padding: 1rem 0;
	font-size: 2rem;
	text-align: center;
	color: darkgoldenrod;
}

.reflections-week {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 60%;
	margin: 1% 20%;
	border: darkgoldenrod 2px solid;
}

.reflections-week p {
	color: #974e1e;
	padding: 0 10px 15px;
}

/***************************************
Footer section
************************************ */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5vh;
	background: linear-gradient(rgb(155, 113, 7), rgb(104, 76, 5));
}

.footer-text {
	text-align: center;
	font-size: 1.3rem;
	color: #f9f9f9;
	float: left;
}

.footer-links a {
	color: #f9f9f9;
	font-size: 1.7rem;
	padding: 0 2rem;
}